@model ComicBookInventory.Models.Wishlist

@{
    ViewData["Title"] = "Delete";
}
@*center title and image*@
    <center>
        <h1>DELETE COMIC FROM YOUR WISHLIST</h1>
        <img src="~/Images/sentinalGif.gif" />
        <img src="~/Images/colossusGif.gif" />
        @*model.title and model.issue number will display each indivdual title and issue number selected*@
        <h3>Are you sure you want to delete @Model.Title # @Model.IssueNumber ?</h3>
    </center>
    <div>
        <hr />
        @*coloums to dislplay comic info*@
        <dl class="card-columns">
            <div class="deletetext">
                <br />
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IssueNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IssueNumber)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Publisher)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VolumeNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VolumeNumber)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            </div>
        </dl>
        @*delete button and back to list link*@
        <center>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </center>
    </div>
