@model IEnumerable<ComicBookInventory.Models.Wishlist>

@{
    ViewData["Title"] = "Index";
}
@*center image and title*@
<center>
    <h1>MY COMIC WISHLIST</h1>
    <img src="~/Images/cyclopsGif.gif" />
    <img src="~/Images/jeanGif.gif" />

    @*model.count will count number of comics in inventory*@
    <h4>YOU HAVE @Model.Count() COMICS IN YOUR WISHLIST </h4>
    <p>
        @*link to add comic to wishlist*@
        <a asp-action="Create">ADD A COMIC TO YOUR WISHLIST</a>
    </p>
</center>

@*table to display comic data*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>

        </tr>
    </thead>
    <tbody>
        @*for each will print each comic item in inventory*@
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolumeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>
@*print button is linked in javascript to create print window to print inventory*@
<button class="print">Print</button>
