@model ComicBookInventory.Models.Comic

@{
    ViewData["Title"] = "Details";
}
<center>
    @*model.title and model.issuenumber will display each indivdual title and issue number selected*@
    <h1>Details for @Model.Title #@Model.IssueNumber</h1>
</center>
@*center two images*@
<center>
    <img src="~/Images/wolverineGif.gif" />
    <img src="~/Images/icemanGif.gif" />
</center>
<hr />
@*coloums to dislplay comic info*@
<div class="card-columns">
    <div class="deletetext">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueNumber)
        </dd>
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolumeNumber)
        </dd>
        @*these breaks help align the content making it more readable*@
        <br />
        <br />
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <br />

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        @*these breaks help align the content making it more readable*@
        <br />
        <br />
        <br />
        <br />
        <div>
            @*edit delete and back to index buttons*@
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
            <a asp-action="Index">Back to List</a>
        </div>

        <br />
        @*this is the image that has been uploaded to the database*@
        @if (Model.ComicImage != null)
        {
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.ComicImage);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

                }
                <img class="userImg" src="@imgSrc" width=100% />

            </dd>

        }

    </div>

    </dl>

</div>
