@model IEnumerable<ComicBookInventory.Models.Comic>

@{
    ViewData["Title"] = "Index";
}

@*center the element on the page*@
<center>

    @*center the heading with two images below*@
<h1>SEARCH YOUR COMIC BOOK INVENTORY</h1>
<img src="~/Images/magnetoGif.gif" />
<img src="~/Images/nightcrawlerGif.gif" />
<br />

    @*searchbar the can search comic inventory by title or publisher*@
<form asp-controller="comics" asp-action="Index">
    <input name="searchQuery"  placeholder="Title or Publisher" />
    <button>Search</button>
</form>
    @*model.count will count the number of comics in inventory*@
<h4>You Have @Model.Count() Comics in your Inventory </h4>
    </center>

@*this index table is the main part of the comic inventory system*@ 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>

        </tr>
    </thead>
    <tbody>

        @*foreach to loop through the list of comics in the inventory*@
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>

            <td>
                @*details button on the side of the inventory tabel to view each comic individually*@ 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

            </td>
        </tr>

        }
    </tbody>
</table>

@*print button with a javascript function to call the window.print method 
to bring up print screen and print inventory list*@
<button class="print">PRINT</button>